<div class="form-container">
    <form class="card" action="/login">
      <div>
        <p class="titulo">Registrate</p>
      </div>
      <div>
        <!--Nombre-->
        <div class="entrada mb-3">
            <i class="fa fa-user" aria-hidden="true"></i>          <input
            type="name"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Nombre completo"
          />
        </div>
        <!--Correo-->
        <div class="entrada mb-3">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="Email1Help"
              placeholder="Correo Electrónico"
            />
          </div>
        <!--Telefono-->  
        <div class="entrada mb-3">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input
              type="text"
              class="form-control"
              id="exampleInputText1"
              aria-describedby="Télefono"
              placeholder="Télefono/celular"
            />
          </div>
          <!--Contraseña-->
        <div class="entrada mb-3">
          <i class="fa-solid fa-key"></i>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Contraseña"
          />
        </div>
        <!--Repetir contraseña-->
        <div class="entrada mb-3">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Repetir contraseña"
            />
          </div>
          
        <button type="submit" class="btn btn-primary" >Registrate</button>
        <div id="emailHelp" class="form-text">
          Al registrarse, aceptas nuestras Condiciones de uso y Política de
          privacidad.
          <br />
          ¿Ya tienes cuenta? <a class="registrate" href="/login">Inicia Sesion</a>
        </div>
      </div>
    </form>