<div class="card mx-auto">
  <form action="/cargar-articulo">
    <div class="login text-center" style="padding: 5px; margin-bottom: 10px">
      <h5>Login</h5>
    </div>
    <div class="entrada mb-3">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Correo electrónico"
      />
    </div>
    <div class="entrada mb-3">
      <i class="fa-solid fa-key"></i>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Contraseña"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary" style="width: 340px">
        Login
      </button>
    </div>
    <div id="emailHelp" class="form-text text-center">
      <p>
        Al registrarse, aceptas nuestra Condiciones de Uso y Política de
        Privacidad.
      </p>
      <p>¿No tienes una cuenta? <a href="/registro">Regístrate</a></p>
    </div>
  </form>
</div>
